<app-thesidebar></app-thesidebar>
<div class="container bg-white">
  <a routerLink="/admin/dashboard/profil"><img src="/assets/img/icon/arrow_org_s.png" alt="Arrow"></a>
  <div class="section-title mt-2" data-aos="zoom-out">
    <h2>ASKRINDO</h2>
    <h5>Ubah Kata Sandi</h5>
  </div>
  <hr>
  <div class="row">
    <div class="container-fluid">
      <form [formGroup]="changeForm" method="post" (ngSubmit)="submit(changeForm.value)">
      <div class="form-group">
        <label>Kata Sandi Sebelumnya</label>
        <div class="input-group"> <span class="input-group-addon"><span class="icofont-ui-password"></span></span>
          <input type="password" class="form-control" name="password" id="password" placeholder="Kata Sandi" formControlName="password">
        </div>
        <div class="ml-2">
          <small *ngIf="form('password').invalid && (form('password').dirty || (form('password').touched))"
                 class="text text-danger float-left">
            <div *ngIf="form('password').errors?.required">
              Kata Sandi Harus Terisi
            </div>
          </small>
        </div>
      </div>
      <div class="form-group">
        <label>Kata Sandi Baru</label>
        <div class="input-group"> <span class="input-group-addon"><span class="icofont-lock"></span></span>
          <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="Kata Sandi Baru"
                 formControlName="newpassword"
                 [(ngModel)]="passwordFirst" >
        </div>
        <div class="ml-2 mb-3">
          <small *ngIf="form('newpassword').invalid && (form('newpassword').dirty || (form('newpassword').touched))"
                 class="text text-danger float-left">
            <div *ngIf="form('newpassword').errors?.required">
              Kata Sandi Harus Terisi
            </div>
            <div *ngIf="form('newpassword').errors?.pattern">
              Kata Sandi harus mengandung minimum 8 karakter, huruf kapital dan angka.
            </div>
          </small>
        </div>
      </div>
      <div class="form-group">
        <label>Konfirmasi Kata Sandi</label>
        <div class="input-group"> <span class="input-group-addon"><span class="icofont-unlock"></span></span>
          <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Konfirmasi Kata Sandi"
                 formControlName="confirm"
                 [(ngModel)]="passwordSecond"
                 (keyup)="passwordMatch()">
        </div>
        <div>
          <small
            *ngIf="form('confirm').invalid && (form('confirm').dirty || form('confirm').touched)">
            <div class="form-text text-danger" *ngIf="form('confirm').errors?.required">
              Konfirmasi kata sandi harus di isi
            </div>
          </small>
          <small>
            <div class="form-text text-danger" *ngIf="isErrorValidation">
              {{ errorPassword }}
            </div>
          </small>

        </div>
      </div>
      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-lg btn-custom">
      </form>
      <div *ngIf="isLoading" class="text-center">
        <img src="/assets/img/loadings.gif" alt="description of gif" />
      </div>

    </div>
  </div>
</div>
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
