<header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <!--      <h1 class="text-light"><a href="index.html">M-ASK</a></h1>-->
      <a href="index.html"><img src="assets/img/homepage/logo%20mask%20putih.png" alt="" class="img-fluid"></a>
    </div>

    <nav class="nav-menu navbar-expand-lg d-lg-block">
      <button style="border-color: #e67e22" class="navbar-toggler navbar-toggler-right navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li><a href="">Home</a></li>
        <li class="drop-down"><a href="">Produk</a>
          <ul>
            <li><a routerLink="../pa">Asuransi Kecelakaan Diri</a></li>
            <li><a routerLink="../par">Asuransi Properti/ Harta Benda</a></li>
            <li><a routerLink="../travel">Asuransi Perjalanan</a></li>
          </ul>
        </li>

      </ul>
      </div>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<div style="height: 20%">
  <img src="./assets/img/homepage/home_accident.jpg" class="img-fluid" alt="Responsive image">
</div>


<div class="container" style="margin-top: 30px">
  <h2 style="margin: 20px; text-align: center">Asuransi Kecelakaan Diri</h2>
  <p style="text-indent: 50px; margin-bottom: 40px;  text-align: justify;  letter-spacing: 1px;">Memberikan perlindungan
    atas risiko kematian, cacat tetap, biaya perawatan dan
    atau pengobatan yang secara langsung disebabkan suatu kecelakaan. Kecelakaan yaitu suatu kejadian atau peristiwa
    yang mengandung unsur kekerasan, baik bersifat fisik maupun kimia, yang datangnya secara tiba-tiba, termasuk juga
    kecelakaan yaitu yang disebabkan karena keracunan makanan,
    uap dan gas, jatuh ke dalam air atau tenggelam.</p>

  <h5 style="margin: 10px;">PENGGUNA (TERTANGGUNG)</h5>
  <p style="text-indent: 50px;  text-align: justify;  letter-spacing: 1px;">Individu yang berusia 17 sampai dengan 60
    tahun baik perorangan atau grup</p>
</div>


<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div style="margin-top: 40px" class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>ASKRINDO</h2>
      <p>Manfaat Asuransi Kecelakaan Diri</p>
    </div>

    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link active show" data-toggle="tab" href="#tab-1">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">Ganti Rugi</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-toggle="tab" href="#tab-2">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Penggantian Biaya</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-1">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Asuransi Kecelakaan Diri</h3>
            <p class="font-italic">
              Memberikan ganti rugi kepada tertanggung/ahli waris apabila tertanggung mengalami kecelakaan yang
              mengakibatkan:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> 1. Meninggal dunia</li>
              <li><i class="ri-check-double-line"></i> 2. Cacat tetap total atau cacat tetap sebagian</li>
              <li><i class="ri-check-double-line"></i> 3. Biaya perawatan dan atau pengobatan</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img style="width: 300px; height: 300px" src="assets/img/homepage/pa_compensation.jpg" alt=""
                 class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Asuransi Kecelakaan Diri</h3>
            <p>
              Memberikan ganti rugi akibat kecelakaan atas biaya-biaya yang dikerluarkan dengan tambahan premi berupa:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> 1. Penggantian biaya expatriasy atau pemulangan jenazah dari
                tempat kejadian kecelakaan
              </li>
              <li><i class="ri-check-double-line"></i> 2. Penggantian biaya pemakaman.</li>
              <li><i class="ri-check-double-line"></i> 3. Penggantian biaya ambulans.</li>
              <li><i class="ri-check-double-line"></i> 4. Penggantian biaya pengurusan dokumen</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="assets/img/homepage/pa_reimburse.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Features Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>ASKRINDO</h2>
      <p>Fitur Produk</p>
    </div>

    <div class="owl-carousel testimonials-carousel" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-3 col-md-4 icon-box">
          <div class="testimonial-item">
            <img src="assets/img/icon/verified.png" class="testimonial-img" alt="">
            <h3>MEMBERIKAN PERLINDUNGAN</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Memberikan perlindungan selama 24 jam sehari,
              365 hari dalam setahun dan dimanapun di seluruh dunia
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>

          </div>
        </div>

        <div class="col-lg-3 col-md-4 icon-box">
          <div class="testimonial-item">
            <img src="assets/img/icon/return.png" class="testimonial-img" alt="">
            <h3 style="margin-bottom: 30px">GANTI RUGI</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Ganti rugi diberikan sebesar tabel manfaat yang tercantum didalam polis maksimal
              100% dari nilai pertanggungan
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>

          </div>
        </div>
        <div class="col-lg-3 col-md-4 icon-box">
          <div class="testimonial-item">
            <img src="assets/img/icon/credit-card.png" class="testimonial-img" alt="">
            <h3>SISTEM PENGGANTIAN PEMBAYARAN</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Sistem penggantian pembayaran untuk biaya perawatan/pengobatan bersifat
              reimbursement.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>

          </div>
        </div>

        <div class="col-lg-3 col-md-4 icon-box">
          <div class="testimonial-item">
            <img src="assets/img/icon/checkmark.png" class="testimonial-img" alt="">
            <h3 style="margin-bottom: 30px">HAK</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Diberi keleluasaan bagi Tertanggung untuk memilih dokter dan
              rumah sakit yang dikehendaki.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>

          </div>
        </div>
      </div>


    </div>

  </div>
</section><!-- End Testimonials Section -->

<!-- ======= Features Section ======= -->
<section id="theproduct" class="theproduct">
  <div style="margin-top: 40px" class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>ASKRINDO</h2>
      <p>Jenis Produk</p>
    </div>


<!--    add-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container bootstrap snippets bootdey">
      <div class="row margin-bottom-5">

        <div *ngFor="let packagePA of loadedPackagePA; index as i" class="col-md-4 col-sm-6">
          <div class="servive-block">
            <h2 class="heading-md">{{packagePA.name}}</h2>
            <p>Santunan Maksimal {{packagePA.compensation | commonCurrencyRp}}</p>
            <button class="btn btn-dark" (click)="onGetCategoryPA(packagePA.paId)"> Detail </button>
          </div>
        </div>
      </div>
    </div>
<!--add-->
    <section id="pricing" class="bg-white">
      <div class="container" *ngIf="tempId!==null">

        <div class="spacer spacer-line border-primary">&nbsp;</div>
        <div class="spacer">&nbsp;</div>
        <div class="row">
          <div *ngFor="let category of loadedData; let i = index" class="col-md-4">
            <div class="section-title" data-aos="zoom-out">
              <h2>detail</h2>
            </div>
            <div class="pricing-table">
              <div class="pricing-table-price text-center bg-info" *ngIf="category.isActive==='true'">
                <p class="title-font">
                  <span class="pricing-currency text-white" *ngIf="category.isActive==='true'"></span>
                  <span class="pricing-price text-white"  *ngIf="category.isActive==='true'">{{category.price | commonCurrencyRp}} </span>
                  <span class="pricing-period text-white" *ngIf="category.isActive==='true'">/ {{category.days}} hari</span>
                </p>
              </div>
<!--              <div class="pricing-table-content">-->
<!--                <ul>-->
<!--                  <li><strong>{{category.days}} hari </strong></li>-->
<!--                </ul>-->
<!--                <div class="pricing-table-button">-->
<!--&lt;!&ndash;                  <a href="#x" class="btn btn-info"><span>Request Quote</span></a>&ndash;&gt;-->
<!--                </div>&lt;!&ndash; / pricing-table-button &ndash;&gt;-->
<!--              </div>&lt;!&ndash; / pricing-table-content &ndash;&gt;-->
            </div><!-- / pricing-table -->
          </div><!-- / column -->
        </div><!-- / row -->
      </div><!-- / container -->
    </section>
  </div>
</section><!-- End Features Section -->


<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container">
    <div class="row" data-aos="zoom-out">
      <div class="col-lg-9 text-center text-lg-left">
      </div>
      <div class="row">

      </div>
      <div class="col-lg-3 cta-btn-container text-center">

          <a type="button" class="cta-btn align-middle" routerLink="/claim/pas">Klaim Asuransi</a>
          <a type="button" data-toggle="modal" data-target="#exampleModal" class="cta-btn align-middle" >Beli Produk</a>

      </div>
    </div>
  </div>
</section><!-- End Cta Section -->

<!-- Modal -->
<div style="padding: 50px" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="container" style="align-content: center; align-items: center">
  <div class="modal-dialog">
    <div class="modal-content">
      <button style="position:absolute; top:6px; right:0px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div  style="align-content: center; padding: 100px" class="modal-header" style="align-content: center; margin-left: 40px">
        <div style="height: 40%; width: 40%; ">
          <img style="margin-left: 100px" src="./assets/img/homepage/logo%20mask.png" class="img-fluid" alt="Responsive image">
        </div>

      </div>
      <div class="modal-body" style="align-content: center; align-items: center;">
        <p style="margin-left: 80px"> Beli produk asuransi melalui aplikasi M-ASK </p>
        <p style="margin-left: 40px">
          <a href="https://play.google.com/store/apps/details?id=pa.askrindo.android">
            <img border="0" alt="W3Schools" src="assets/img/homepage/googleplay.png" width="200" height="100">
          </a>
          <a href="https://apps.apple.com/id/app/digiask-personal-accident/id1475720967">
            <img border="0" alt="W3Schools" src="assets/img/homepage/appstore.png" width="200" height="100">
          </a>
        </p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
  </div>
</div>
<app-footer></app-footer>
