.btn{
  margin-left: 40%;
  margin-right: 30%;
}
.card-img-top{
  height: 100%;
}

body{
  /*background-image: url("../../../../../assets/images/bg2.jpg");*/
  background-size: contain;
  height: 100vh;
}
.page_title {
  padding-top: 90px;

}
.page_title h1 {
  color: #2d3d5d;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 0;
  position: relative;
  text-transform: capitalize;
}
.page_title h1::before {
  background: #2d3d5d;
  width: 70px;
  height: 2px;
  position: absolute;
  content: '';
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page_title h1::after {
  position: absolute;
  content: '';
  background: #ff6400;
  width: 20px;
  height: 2px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-custom {
  color: #ffffff;
  background-color: #EF8526;
  border-color: #d65c0b;
  border-radius: 10px;
  margin-bottom: 10px;
  align-content: center;
  align-items: center;
}


.container{
  margin-top: -940px;
  width: 100%;
  height: 80%;
  border-radius: 10px;

}
h4{
  color: #EF8526;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
  .container{
    margin-top: 0px;
    width: 100%;
  }
}
.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fd9042;
  margin: 4px 10px;
}

.section-title h5 {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #EF8526;
}

