<app-thesidebar></app-thesidebar>
<div style="padding: 20px;" class="container bg-white" ng-app="sortApp" ng-controller="mainController">
  <div class="section-title" data-aos="zoom-out">
    <h2>DAFTAR</h2>
    <h5>List Admin</h5>
  </div>
  <div *ngIf="isLoading" class="text-center">
    <img src="/assets/img/loadings.gif" alt="description of gif"/>
  </div>
  <button style="background-color: #e67e22; float: right; margin-bottom: 20px" class="btn btn-info">
    <a style="cursor: pointer" (click)="exportexcel()"><i class="icofont-download"></i> Export ke Excel
    </a>
  </button>

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input [(ngModel)]="searchByName" name="searchByName" (keyup)="searchLive()" type="search" class="form-control"
               placeholder="Cari berdasarkan nama">
      </div>
    </div>
  </form>
  <span *ngIf="isSearch">
    <div style="overflow-x:auto">
      <table class="table table-bordered table-striped" style="font-size: 14px">

      <thead>
      <tr>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            No.
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Nama
           </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Email
          </a>
        </td>
        <td>
          <a style="color: #EF8526" g-click="sortType = 'fish'; sortReverse = !sortReverse">
            Tanggal Lahir
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            Jenis Kelamin
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            No. HP
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            Status
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
            Aksi
          </a>
        </td>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let user of userList; let i = index"
          ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
        <td class="hidden-xs">{{i + 1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.birthDate | date:'dd-MM-yyyy'}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.isActive}}</td>
        <td>
             <button *ngIf="user.isActive==='false'" style="font-size: 12px; margin-left: 5px; color: white "
                     type="button" class="btn btn-danger" (click)="onStatusChange(user.id)"><i
               class="icofont-exchange"></i>
                    Ubah
          </button>
          <button *ngIf="user.isActive==='true'" style="font-size: 12px; margin-left: 5px; color: white "
                  type="button" class="btn btn-success" (click)="onStatusChange(user.id)"><i
            class="icofont-exchange"></i>
                    Ubah
          </button>

        </td>
      </tr>
      </tbody>

    </table>

    </div>
      <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)"></pagination-controls>
    </span>
  <span *ngIf="!isSearch">
    <div style="overflow-x:auto">
    <table id="excel-table" class="table table-bordered table-striped" style="font-size: 14px">

      <thead>
      <tr>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            No.
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Nama </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Email
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            Tanggal Lahir
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            Jenis Kelamin
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            NO. Hp
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
            Status
          </a>
        </td>
        <td>
          <a style="color: #EF8526" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
            Aksi
          </a>
        </td>
      </tr>
      </thead>

      <tbody>
      <tr
        *ngFor="let user of loadedPosts | paginate: { itemsPerPage: size, currentPage: page, totalItems: totalItems }; let i = index"
        ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
        <td class="hidden-xs">{{i + 1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.birthdate | date:'dd-MM-yyyy'}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.isActive}}</td>
        <td>
             <button *ngIf="user.isActive==='false'" style="font-size: 12px; margin-left: 5px; color: white "
                     type="button" class="btn btn-danger" (click)="onStatusChange(user.id)"><i
               class="icofont-exchange"></i>
                    Ubah
          </button>
          <button *ngIf="user.isActive==='true'" style="font-size: 12px; margin-left: 5px; color: white "
                  type="button" class="btn btn-success" (click)="onStatusChange(user.id)"><i
            class="icofont-exchange"></i>
                    Ubah
          </button>

        </td>
      </tr>
      </tbody>

    </table>
    </div>
      <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)"></pagination-controls>

    </span>


</div>

