<div id="navbar-container">
<header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <!--      <h1 class="text-light"><a href="index.html">M-ASK</a></h1>-->
      <a href="index.html"><img src="assets/img/homepage/logo%20mask%20putih.png" alt="" class="img-fluid"></a>
    </div>
<!--d-none-->
    <nav class="nav-menu navbar-expand-lg d-lg-block">
      <button style="border-color: #e67e22" class="navbar-toggler navbar-toggler-right navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="active"><a [routerLink] = "['/']" >Home</a></li>
        <li><a [routerLink] = "['/']"  fragment="/about2">Tentang Kami</a></li>
        <li><a [routerLink] = "['/']"  fragment="/services">Anak Perusahaan</a></li>
          <li><a [routerLink] = "['/']"  fragment="/contact">Kontak</a></li>
        <li class="drop-down"><a [routerLink] = "['/']"  fragment="/ourproduct">Produk</a>
          <ul>
            <li><a routerLink="/product/pa">Asuransi Kecelakaan Diri</a></li>
            <li><a routerLink="/product/par">Asuransi Properti/ Harta Benda</a>
            </li>
            <li><a routerLink="/product/travel">Asuransi Perjalanan</a></li>
          </ul>
        </li>
          <li class="drop-down"><a [routerLink] = "['/']"  fragment="/ourproduct">Claim</a>
            <ul>
              <li><a routerLink="/claim/pas">Asuransi Kecelakaan Diri</a></li>
              <li><a routerLink="/claim/pars">Asuransi Properti/ Harta Benda</a>
              </li>
              <li><a routerLink="/claim/travels">Asuransi Perjalanan</a></li>
            </ul>
          </li>
      </ul>
      </div>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->

</div>
<div id="openModal" class="modalDialog">
  <div> <a href="#openModal" title="Close" class="close">X</a>

  </div>
</div>

<section id="hero">

  <div class="hero-container">

    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background: url(assets/img/homepage/home_fire.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">SOLUSI TERBAIK</h2>
              <p class="animate__animated animate__fadeInUp">Melayani lebih baik, Menjangkau pelosok negeri </p>
<!--              <div>-->
<!--                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>-->
<!--              </div>-->
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background: url(assets/img/homepage/home_accident.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">M-ASK aplikasi digital secara online</h2>
              <p class="animate__animated animate__fadeInUp">Jalani aktivitas di masa new normal dengan aman dan nyaman. Memberikan kemudahan dan mendapatkan perlindungan dari Asuransi tanpa bertatap muka melalui aplikasi M-Ask</p>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background: url(assets/img/slide-3.jpg);">
          <div class="carousel-background"><img src="../../../../assets/img/slide-3.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Sisihkan 10% penghasilan</h2>
              <p class="animate__animated animate__fadeInUp">untuk proteksi asuransi untuk menghindari kemungkinan yang terjadi.
              auransi kecelakaan dir dari Askrindo bisa kamu dapatkan mulai dari Rp. 20 ribu untuk perlindungan hingga Rp 100 juta. Dapatkan melalui aplikasi M-ASK</p>

            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->





<main id="main">

  <!-- ======= About Section ======= -->

  <section class="about" id="/about2">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>ASKRINDO</h2>
        <p>TENTANG KAMI</p>
      </div>

      <div class="row content" data-aos="fade-up">
        <div class="col-lg-6">
          <p>
            PT. (Persero) Asuransi Kredit Indonesia atau PT. Askrindo (Persero)
            merupakan salah satu Badan Usaha Milik Negara (BUMN) yang  bergerak dalam asuransi/penjaminan, tidak dapat dipisahkan dari pembangunan ekonomi Bangsa dan Negara Republik Indonesia.
          </p>
          <ul>
             Sejak pemerintah menyusun dan menetapkan REPELITA I tahun 1969, yang salah satu sasaran pokok rencana tersebut adalah  pemerataan hasil-hasil pembangunan dalam bidang kesempatan berusaha, pendapatan masyarakat dan sekaligus merangsang  pertumbuhan lapangan kerja.
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Dalam rangka mencapai sasaran ini pemerintah mengambil langkah konkrit antara lain dengan
            mengembangkan usaha kecil dan menengah dengan cara mengatasi salah satu aspek usaha yang penting yaitu aspek pembiayaan.
          </p>
          <p>
            Berdiri tanggal 6 April 1971 berdasarkan Peraturan Pemerintah Republik Indonesia Nomor 1/1971 tanggal 11 Januari 1971, untuk
            mengemban misi dalam pemberdayaan Usaha Mikro, Kecil dan Menengah (UMKM) guna menunjang pertumbuhan perekonomian
            Indonesia. Peran PT. Askrindo (Persero) dalam pemberdayaan UMKM adalah sebagai lembaga penjamin atas kredit yang disalurkan
            oleh perbankan kepada UMKM.
          </p>
<!--          <a href="#" class="btn-learn-more">Learn More</a>-->
        </div>
      </div>

    </div>
  </section><!-- End About Section -->



  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">

      <div class="row" data-aos="zoom-out">
        <div class="col-lg-9 text-center text-lg-left">
          <h3>M-ASK memberikan kemudahan</h3>
          <p> Dapatkan perlindungan tanpa harus bertatap muka melalui aplikasi M-ASK. M-ASK adalah aplikasi mobile milik PT.ASKRINDO yang bertujuan agar
            memudahkan customer untuk membeli produk asuransi di PT. ASKRINDO. </p>
          <a type="button" data-toggle="modal" data-target="#exampleModal"  class="cta-btn align-middle" href="#">Download M-ASK</a>
        </div>
        <div class="col-lg-3 cta-btn-container text-center mb-10">
          <div class="video-background-holder" >
            <div class="video-background-overlay"></div>
            <video style="height: 500px; border-radius: 16px" playsinline="playsinline" autoplay="autoplay" [muted]="true" loop="loop">
              <source src="../../../../assets/video/app-mask-tutorial.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Cta Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="/ourproduct" class="pricing">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>ASKRINDO</h2>
        <p>Produk Asuransi Kami</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
            <h3>Asuransi Kecelakaan Diri</h3>

            <div class="portfolio-img"><img src="../../../../assets/img/homepage/prod-asuransi-kecelakaan.jpg" class="img-fluid" alt=""></div>
            <ul>
              <li> </li>
              <li>Memberikan perlindungan atas risiko kematian, cacat tetap,
                biaya perawatan dan atau pengobatan yang secara langsung disebabkan suatu kecelakaan.</li>
            </ul>
            <div class="btn-wrap">
              <a routerLink="/product/pa" class="btn-buy">Detail</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
            <h3>Asuransi Properti/ Harta Benda</h3>
            <div class="portfolio-img"><img src="../../../../assets/img/homepage/prod-asuransi-properti.jpg" class="img-fluid" alt=""></div>
            <ul>
              <li> </li>
              <li>Memberikan perlindungan atas kerusakan yang terjadi secara tiba-tiba
                dan tidak terduga akibat berbagai macam risiko yang menjadi penyebabnya</li>
            </ul>
            <div class="btn-wrap">
              <a routerLink="/product/par" class="btn-buy">Detail</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
            <h3>Asuransi Perjalanan</h3>
            <div class="portfolio-img"><img src="../../../../assets/img/homepage/prod-asuransi-perjalanan.jpg" class="img-fluid" alt=""></div>

            <ul>
              <li> </li>
              <li> </li>
              <li>Memberikan perlindungan terhadap peristiwa yang
                idak terduga selama perjalanan di dalam negeri maupun diluar negeri.</li>

            </ul>
            <div class="btn-wrap">
              <a routerLink="/product/travel" class="btn-buy">Detail</a>
            </div>
          </div>
        </div>

        <!--        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">-->
        <!--          <div class="box" data-aos="zoom-in" data-aos-delay="300">-->
        <!--            <span class="advanced">Advanced</span>-->
        <!--            <h3>Ultimate</h3>-->
        <!--            <h4><sup>$</sup>49<span> / month</span></h4>-->
        <!--            <ul>-->
        <!--              <li>Aida dere</li>-->
        <!--              <li>Nec feugiat nisl</li>-->
        <!--              <li>Nulla at volutpat dola</li>-->
        <!--              <li>Pharetra massa</li>-->
        <!--              <li>Massa ultricies mi</li>-->
        <!--            </ul>-->
        <!--            <div class="btn-wrap">-->
        <!--              <a href="#" class="btn-buy">Buy Now</a>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= Services Section ======= -->
  <section id="/services" class="services">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>ASKRINDO</h2>
        <p>ANAK PERUSAHAAN</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="zoom-in-left">
            <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
            <div class="portfolio-img"><img src="../../../../assets/img/homepage/logo_nasre-min.png" class="img-fluid" alt=""></div>

            <h4 style="margin-top: 15px" class="title"><a href="https://nasionalre.id/nrecms/">PT Reasuransi Nasional Indonesia</a></h4>
            <p class="description">PT Reasuransi Nasional Indonesia or shortened as Nasional Re, is a company which operates in reinsurance business. Established by PT Askrindo (Persero) on August 22, 1994. PT Reasuransi Nasional Indonesia was established under the Finance Minister’s Principle Permit No.S.1369/KMK.017/1994 dated on September 26, 1994 andOperational Permit No. 27/KMK.017/1995 dated on January 9, 1995.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
            <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
            <div class="portfolio-img"><img src="../../../../assets/img/homepage/logo_syariah-min.png" class="img-fluid" alt=""></div>
            <h4 style="margin-top: 15px" class="title"><a href="http://askrindosyariah.com/">PT Jaminan Pembiayaan Askrindo Syariah</a></h4>
            <p class="description">PT Jaminan Pembiayaan Askrindo Syariah didirikan pada tanggal 29 November 2012 melalui Keputusan Menteri Keuangan No. KEP-777/KM.10/2012 tanggal 28 Desember 2012 tentang Pemberian Izin Usaha Perusahaan
              Penjaminan Kredit Kepada PT Jaminan Pembiayaan Askrindo Syariah.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
            <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
            <div class="portfolio-img"><img src="../../../../assets/img/homepage/logo_amu-min.png" class="img-fluid" alt=""></div>
            <h4 style="margin-top: 15px" class="title"><a href="http://askrindomitrautama.co.id/">PT Askrindo Mitra Utama</a></h4>
            <p class="description">PT Askrindo Mitra Utama (sebelumnya Usayasa Utama) didirikan pada tanggal 7 Oktober 1997 dengan Akta Pendirian Perusahaan yang dibuat di hadapan Notaris Ny. Sulasmi Mustafa, S.H. yaitu Akta No. 5 tahun 1997 dengan kepemilikan Yayasan Dana Kesejahteraan Karyawan Askrindo (YDKKA) sebagai pemegang saham mayoritas dan Koperasi Karyawan Askrindo (KKA)
              sebagai pemegang saham minoritas.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Contact Section ======= -->
  <section id="/contact" class="contact">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>ASKRINDO</h2>
        <p>Hubungi Kami</p>
      </div>

      <div class="row mt-5">

        <div class="col-lg-4" data-aos="fade-right">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Alamat:</h4>
              <p>Jl. Angkasa Blok B-9, Kav.B Kota Baru Bandar. Kemayoran, Jakarta Pusat - 10610</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>Tlp. 021-6546471/72
                Fax. 021-6546483</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
  <div style="padding: 50px" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="container" style="align-content: center; align-items: center">
      <div class="modal-dialog">
        <div class="modal-content">
          <button style="position:absolute; top:6px; right:0px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div  style="align-content: center; padding: 100px" class="modal-header" style="align-content: center; margin-left: 40px">
            <div style="height: 40%; width: 40%; ">
              <img style="margin-left: 100px" src="../../../../assets/img/homepage/logo%20mask.png" class="img-fluid" alt="Responsive image">
            </div>

          </div>
          <div class="modal-body" style="align-content: center; align-items: center;">
            <p style="margin-left: 80px"> Beli produk asuransi melalui aplikasi M-ASK </p>
            <p style="margin-left: 40px">
              <a href="https://play.google.com/store/apps/details?id=pa.askrindo.android">
                <img border="0" alt="W3Schools" src="../../../../assets/img/homepage/googleplay.png" width="200" height="100">
              </a>
              <a href="https://apps.apple.com/id/app/digiask-personal-accident/id1475720967">
                <img border="0" alt="W3Schools" src="../../../../assets/img/homepage/appstore.png" width="200" height="100">
              </a>
            </p>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
