<app-thesidebar></app-thesidebar>
<div style="padding: 20px;" class="container bg-white" ng-app="sortApp" ng-controller="mainController">
  <div class="section-title mt-2" data-aos="zoom-out">
    <h2>KLAIM</h2>
    <h5>Asuransi Properti/ Harta Benda</h5>
  </div>
  <div *ngIf="isLoading" class="text-center">
    <img src="/assets/img/spinner.gif" alt="description of gif" />
  </div>

  <div *ngIf="isLoadingReject" class="text-center">
    <img src="/assets/img/loadings.gif" alt="description of gif" />
  </div>

  <div *ngIf="isLoadingApprove" class="text-center">
    <img src="/assets/img/loadings.gif" alt="description of gif" />
  </div>

  <button style="background-color: #e67e22; float: right; margin-bottom: 10px" class="btn btn-info">
    <a style="cursor: pointer" (click)="exportexcel()"><i class="icofont-download"></i> Export ke Excel
    </a>
  </button>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input [(ngModel)]="searchByName" name="searchByName" type="text"
               class="form-control" placeholder="Cari berdasarkan nomor polis" ng-model="searchFish" (keyup)="searchLive()">
      </div>
    </div>
  </form>

  <div  id="excel-table" class="table-responsive" *ngIf="!isSearch">
    <!--Table-->
    <table class="table table-striped" style="font-size: 14px">

      <!--Table head-->
      <thead>
      <tr style="text-align: center; color: #EF8526">
        <th>No.</th>
        <th>Nomor Polis</th>
        <th>Nama Pengguna</th>
        <th>Nama Customer</th>
        <th>Tanggal Pelaporan</th>
        <th>Tanggal Kejadian</th>
        <th>Penyebab Kerugian</th>
        <th>Lokasi Kerugian</th>
        <th>Nilai Tuntutan Klaim</th>
        <th>Nilai Persetujuan Klaim</th>
        <th>Status Klaim</th>
        <th>Laporan Uraian Kerugian</th>
        <th>Laporan Pihak Berwenang</th>
        <th>Tindakan</th>
      </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
      <tr *ngFor="let claimpar of loadedPosts | paginate: { itemsPerPage: size, currentPage: page, totalItems: totalItems }, index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{claimpar.transaction.transactionPAR.trxparId}}</td>
        <td>{{claimpar.name}}</td>
        <td>{{claimpar.transaction.transactionPAR.customerPAR.name}}</td>
        <td>{{claimpar.reportDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{claimpar.incidentDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{claimpar.lossCause}}</td>
        <td>{{claimpar.incidentLocation}}</td>
        <td>{{claimpar.claimSubmission | commonCurrencyRp}}</td>
        <td>{{claimpar.claimApproval | commonCurrencyRp}}</td>
        <td>{{claimpar.transaction.transactionPAR.statusClaim}}</td>
        <td>
          <button class="btn btn-dark" (click)="downloadLossReport(claimpar.lossReportName)">
            <i class="fa fa-download" aria-hidden="true"></i> Unduh
          </button>
        </td>
        <td>
          <button class="btn btn-dark" (click)="downloadAuthorReport(claimpar.authoritiesReport)">
            <i class="fa fa-download" aria-hidden="true"></i> Unduh
          </button>
        </td>
        <td>
          <div class="row justify-content-center">
            <button class="btn btn-success float-left"
                    (click)="onSendClaimPAR(claimpar, claimpar.claimparId)"
                    [disabled]="claimpar.transaction.transactionPAR.statusClaim==='disetujui' ||
                    claimpar.transaction.transactionPAR.statusClaim==='ditolak' || claimpar.transaction.transactionPAR.statusClaim==='data sesuai'">
              <i class="fa fa-check-square-o" aria-hidden="true"></i></button>&nbsp;
            <button class="btn btn-danger float-right" data-toggle="modal" data-target="#exampleModal2"
                    (click)="rejectedClaimPAR(claimpar.claimparId)"
                    [disabled]="claimpar.transaction.transactionPAR.statusClaim==='ditolak' ||
                    claimpar.transaction.transactionPAR.statusClaim==='disetujui' || claimpar.transaction.transactionPAR.statusClaim==='data sesuai'">
              <i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
      <!--Table body-->


    </table>


    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Masukkan Alasan Penolakan Klaim</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Deskripsi penolakan klaim</label>&nbsp;
            <textarea name="text" rows="4" cols="50" wrap="soft" type="text" [(ngModel)]="valueDescription"></textarea>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batalkan</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onReject(valueDescription)">
              Simpan</button>
            <div *ngIf="isLoading" class="text-center">
              <img src="/assets/img/loadings.gif" alt="description of gif" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <pagination-controls class="my-pagination" (pageChange)="onPageChange($event)"></pagination-controls>
    <!--Table-->
  </div>


  <div class="table-responsive" *ngIf="isSearch">
    <!--Table-->
    <table class="table table-striped" style="font-size: 14px">

      <!--Table head-->
      <thead>
      <tr style="text-align: center">
        <th>No.</th>
        <th>Nomor Polis</th>
        <th>Nama Pengguna</th>
        <th>Nama Customer</th>
        <th>Tanggal Pelaporan</th>
        <th>Tanggal Kejadian</th>
        <th>Penyebab Kerugian</th>
        <th>Lokasi Kerugian</th>
        <th>Nilai Tuntutan Klaim</th>
        <th>Nilai Persetujuan Klaim</th>
        <th>Status Klaim</th>
        <th>Laporan Uraian Kerugian</th>
        <th>Laporan Pihak Berwenang</th>
        <th>Tindakan</th>
      </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
      <tr *ngFor="let claimpar of newData, index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{claimpar.transaction.transactionPAR.trxparId}}</td>
        <td>{{claimpar.name}}</td>
        <td>{{claimpar.transaction.transactionPAR.customerPAR.name}}</td>
        <td>{{claimpar.reportDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{claimpar.incidentDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{claimpar.lossCause}}</td>
        <td>{{claimpar.incidentLocation}}</td>
        <td>{{claimpar.claimSubmission | commonCurrencyRp}}</td>
        <td>{{claimpar.claimApproval | commonCurrencyRp}}</td>
        <td>{{claimpar.transaction.transactionPAR.statusClaim}}</td>
        <td>
          <button class="btn btn-dark" (click)="downloadLossReport(claimpar.lossReportName)">
            <i class="fa fa-download" aria-hidden="true"></i> Unduh
          </button>
        </td>
        <td>
          <button class="btn btn-dark" (click)="downloadAuthorReport(claimpar.authoritiesReport)">
            <i class="fa fa-download" aria-hidden="true"></i> Unduh
          </button>
        </td>
        <td>
          <div class="row justify-content-center">
            <button class="btn btn-success float-left"
                    (click)="onSendClaimPAR(claimpar, claimpar.claimparId)"
                    [disabled]="claimpar.transaction.transactionPAR.statusClaim==='disetujui' ||
                    claimpar.transaction.transactionPAR.statusClaim==='ditolak' || claimpar.transaction.transactionPAR.statusClaim==='data sesuai'">
              <i class="fa fa-check-square-o" aria-hidden="true"></i></button>&nbsp;
            <button class="btn btn-danger float-right" data-toggle="modal" data-target="#exampleModal3"
                    (click)="rejectedClaimPAR(claimpar.claimparId)"
                    [disabled]="claimpar.transaction.transactionPAR.statusClaim==='ditolak' ||
                    claimpar.transaction.transactionPAR.statusClaim==='disetujui' || claimpar.transaction.transactionPAR.statusClaim==='data sesuai'"
            >
              <i class="fa fa-times" aria-hidden="true"></i></button>
            <div *ngIf="isLoading && claimpar.transaction.transactionPAR.statusClaim==='Proses Persetujuan'" class="text-center">
              <img src="/assets/img/loadings.gif" alt="description of gif" />
            </div>
          </div>
        </td>
      </tr>
      </tbody>
      <!--Table body-->


    </table>



    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel3">Masukkan Alasan Penolakan Klaim</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Deskripsi penolakan klaim</label>&nbsp;
            <textarea name="text" rows="4" cols="50" wrap="soft" type="text" [(ngModel)]="valueDescription"></textarea>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batalkan</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onReject(valueDescription)">
              Simpan</button>
            <div *ngIf="isLoading" class="text-center">
              <img src="/assets/img/loadings.gif" alt="description of gif" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Table-->
  </div>
  <!--Section: Live preview-->
</div>

