<footer id="footer">
  <div class="container">
    <h3>ASKRINDO</h3>
    <p>Solusi Terbaik, Melayani dengan baik dan menjangkau seluruh negeri untuk masa depan anda</p>
    <div class="social-links">
      <a href="https://twitter.com/ASKRINDO" class="twitter"><span class="iconify" data-icon="bx-bxl-twitter"
                                                                   data-inline="false"></span></a>
      <a href="https://web.facebook.com/askrindopt/" class="facebook"><span class="iconify"
                                                                            data-icon="ant-design:facebook-filled"
                                                                            data-inline="false"></span></a>
      <a href="https://www.instagram.com/askrindo/" class="instagram"><span class="iconify"
                                                                            data-icon="logos:instagram-icon"
                                                                            data-inline="false"></span></a>
      <a href="#" class="youtube"><span class="iconify" data-icon="ant-design:youtube-outlined"
                                        data-inline="false"></span></a>
      <a href="https://www.linkedin.com/company/pt-asuransi-kredit-indonesia-persero/about/" class="linkedin"><span
        class="iconify" data-icon="ei:sc-linkedin" data-inline="false"></span></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>Askrindo</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
  </div>
</footer><!-- End Footer -->
<div style="background-color: #1F2739;" class="bottom">
  <div class="container CX-wrapper">
    <div class="row">
      <div style="text-align: center" class="col-sm-5"><p>Copyright &copy; Askrindo. All right reserved.</p></div>
    </div>
  </div>
</div>
