

<header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <!--      <h1 class="text-light"><a href="index.html">M-ASK</a></h1>-->
      <a href="index.html"><img src="assets/img/homepage/logo%20mask%20putih.png" alt="" class="img-fluid"></a>
    </div>

    <nav class="nav-menu navbar-expand-lg d-lg-block">
      <button style="border-color: #e67e22" class="navbar-toggler navbar-toggler-right navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li><a href="">Home</a></li>
        <li class="drop-down"><a href="">Produk</a>
          <ul>
            <li><a routerLink="../pa">Asuransi Kecelakaan Diri</a></li>
            <li><a routerLink="../par">Asuransi Properti/ Harta Benda</a>
            </li>
            <li><a routerLink="../travel">Asuransi Perjalanan</a></li>
          </ul>
        </li>

      </ul>
      </div>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<div style="height: 20%" >
  <img src="./assets/img/homepage/home_fire.jpg" class="img-fluid" alt="Responsive image">
</div>


<div class="container" style="margin-top: 30px">
  <h2 style="margin: 20px; text-align: center">Asuransi Properti/ Harta Benda</h2>
  <p style="text-indent: 50px; margin-bottom: 40px;  text-align: justify;  letter-spacing: 1px;">Memberikan perlindungan atas kerusakan yang terjadi secara tiba-tiba dan tidak terduga akibat berbagai macam risiko yang menjadi penyebabnya seperti kebakaran, sambaran petir, ledakan, tertimpa pesawat, asap (FLEXAS), angina topan, badai, banjir, tanah longsor, gempa bumi,
    pemogokan, huru hara, kerusuhan, perbuatan jahat orang lain dan risiko lainnya.</p>

  <h5 style="margin: 10px;">PENGGUNA (TERTANGGUNG)</h5>
  <ul style="text-indent: 50px;  text-align: justify;  letter-spacing: 1px;">
    <li>Perusahaan pemilik bangunan kantor, pertokoan, rumah sakit, hotel, pabrik, gudang, bandara dan bangunan lainnya
      </li>
    <li>Bank pemberi kredit untuk pembelian property</li>
  </ul>
</div>



<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div style="margin-top: 40px" class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>ASKRINDO</h2>
      <p>Manfaat Asuransi Properti/ Harta Benda</p>
    </div>

    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link active show" data-toggle="tab" href="#tab-1">
          <i class="ri-gps-line"></i>
          <h4 class="d-none d-lg-block">Ganti rugi atas kerusakan</h4>
        </a>
      </li>
      <li style="margin-right: 10px" class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a style="width: 270px" class="nav-link" data-toggle="tab" href="#tab-2">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Ganti rugi atas kehilangan</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-toggle="tab" href="#tab-3">
          <i class="ri-body-scan-line"></i>
          <h4 class="d-none d-lg-block">Manfaat perluasan</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-1">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Asuransi Properti/ Harta Benda</h3>
            <p class="font-italic">
              Memberikan ganti rugi atas kerugian, kehancuran dan kerusakan pada harta benda (Material Damage)
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img style="width: 300px; height: 300px" src="assets/img/homepage/pa_compensation.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Asuransi Properti/ Harta Benda</h3>
            <p>
              Memberikan ganti rugi atas kehilangan keuntungan sehubungan dengan terhentinya proses
              operasional perusahaan (Business Interuption) akibat kerusakan pada harta benda
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img style="width: 300px; height: 300px" src="assets/img/homepage/pa_reimburse.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab-3">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>Asuransi Properti/ Harta Benda</h3>
            <p>
              Memberikan ganti rugi atas biaya –biaya yang dikeluarkan dengan tambahan premi, untuk:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> 1. Biaya pembersihan puing </li>
              <li><i class="ri-check-double-line"></i> 2. Biaya penggantian/pengisian alat pemadam kebakaran</li>
              <li><i class="ri-check-double-line"></i> 3. Biaya tuntutan pihak ketiga</li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img style="width: 300px; height: 300px" src="assets/img/homepage/pa_reimburse.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Features Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>ASKRINDO</h2>
      <p>Fitur Produk</p>
    </div>

    <div class="owl-carousel testimonials-carousel" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-4 col-md-4 icon-box">
          <div class="testimonial-item" >
            <img src="assets/img/icon/planning.png" class="testimonial-img" alt="">
            <h3 >JANGKA WAKTU</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Jangka waktu pertanggungan adalah 1 tahun
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>

          </div>
        </div>

        <div class="col-lg-4 col-md-4 icon-box">
          <div class="testimonial-item">
            <img src="assets/img/icon/return.png" class="testimonial-img" alt="">
            <h3 style="margin-bottom: 30px" >GANTI RUGI</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Ganti rugi berupa biaya pemulihan kembali (reinstatement) maksimal sebesar harga pertanggungan.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>

          </div>
        </div>
        <div class="col-lg-4 col-md-4 icon-box">
          <div class="testimonial-item">
            <img src="assets/img/icon/checkmark.png" class="testimonial-img" alt="">
            <h3>OBJEK PERTANGGUNGAN</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Harta benda yang dapat dipertanggungkan yaitu Bangunan, Mesin, Stok, Perabot dan isi lainnya
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>

          </div>
        </div>
      </div>


    </div>

  </div>
</section><!-- End Testimonials Section -->

<!-- ======= Features Section ======= -->
<section id="theproduct" class="theproduct">
  <div style="margin-top: 40px" class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>ASKRINDO</h2>
      <p>Jenis Produk</p>
    </div>


    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-3" data-aos="zoom-in">
        <a class="nav-link active show" data-toggle="tab" href="#kind-1" (click)="changeshowContentB()">
          <i class="ri-gps-line"></i>
          <h4 style="color: #e67e22; font-weight: bold" class="d-none d-lg-block">Bangunan</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-toggle="tab" href="#kind-2" (click)="changeshowContentM()">
          <i class="ri-body-scan-line"></i>
          <h4 style="color: #e67e22; font-weight: bold" class="d-none d-lg-block">Mesin</h4>
        </a>
      </li>
      <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100" (click)="changeshowContentF()">
        <a class="nav-link" data-toggle="tab" href="#kind-3">
          <i class="ri-body-scan-line"></i>
          <h4 style="color: #e67e22; font-weight: bold" class="d-none d-lg-block">Perabotan</h4>
        </a>
      </li>
    </ul>

    <div [hidden]="showContentB" style="margin-top: 40px" class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="kind-1">
        <div class="card">
          <div class="card-header">
            <h5>Asuransi Properti/ Harta Benda</h5>
          </div>
          <div class="card-body">
            <div class="container-table bg-white mt-3">
              <h4  style="color: #EF8526; margin-left: 10px">Daftar Okupasi</h4>
              <div style="overflow-x:auto">
                <table class="table table-bordered table-striped">

                  <thead>
                  <tr>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Kode
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Keterangan
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Rate 1
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
                        Rate 2
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526"ng-click="sortType = 'fish'; sortReverse = !sortReverse">
                        Rate 3
                      </a>
                    </td>

                  </tr>
                  </thead>

                  <tbody>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">2976</td>
                    <td> Rumah tinggal tidak di peruntukan untuk usaha dan tidak melebihi 3 tingkat</td>
                    <td>0,294</td>
                    <td>0,397</td>
                    <td>0,499</td>
                  </tr>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">29761</td>
                    <td>Rumah tinggal untuk usaha kost</td>
                    <td>0,478</td>
                    <td>0,645</td>
                    <td>0,812</td>
                  </tr>
                  </tbody>

                </table>

              </div>
            </div>

            <div class="container-table bg-white mt-3">
              <h4 style="color: #EF8526; margin-left: 10px">Kelas Konstruksi</h4>
              <div style="overflow-x:auto">
                <table class="table table-bordered table-striped">

                  <thead>
                  <tr>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Kelas
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Keterangan
                      </a>
                    </td>
                  </tr>
                  </thead>

                  <tbody>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">1</td>
                    <td>Bangunan dikatakan berkonstruksi kelas 1 (satu) apabila dinding, lantai, dan semua komponen penunjang strukturalnya serta penutup atap terbuat seluruhnya dan sepenuhnya dari bahan yang tidak mudah terbakar. Jendela dan/atau pintu beserta kerangkanya, dinding partisi, dan penutup lantai boleh diabaikan
                      Screen reader support enabled.
                    </td>
                  </tr>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">2</td>
                    <td>Bangunan dikatakan berkonstruksi kelas 2 (dua) adalah bangunan yang kriterianya sama seperti apa yang disebutkan dalam bangunan berkonstruksi kelas 1 (satu), dengan kelonggaran penutup atap boleh terbuat dari sirap kayu keras, dinding boleh mengandung bahan yang dapat terbakar sampai maksimum 20% (dua puluh persen) dari luas dinding, serta lantai dan struktur penunjangnya boleh terbuat dari kayu
                      Screen reader support enabled.
                    </td>
                  </tr>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">3</td>
                    <td>
                      Semua bangunan selain yang disebutkan pada kelas konstruksi 1 (satu) dan konstruksi 2 (dua)
                    </td>
                  </tr>
                  </tbody>

                </table>

              </div>
            </div>
            <br>
            <a style="background-color: #e67e22"  type="button" data-toggle="modal" data-target="#exampleModal" href="#" class="btn btn-dark mr-2">Beli Produk</a>
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="showContentM" style="margin-top: 40px" class="tab-content" data-aos="fade-up">
      <div class="tab-pane" id="kind-2">
        <div class="card">
          <div class="card-header">
            <h5>Asuransi Properti/ Harta Benda</h5>
          </div>
          <div class="card-body">
            <div class="container-table bg-white mt-3">
              <h4  style="color: #EF8526; margin-left: 10px">Daftar Okupasi</h4>
              <div style="overflow-x:auto">
                <table class="table table-bordered table-striped">

                  <thead>
                  <tr>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Kode
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Keterangan
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Rate 1
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
                        Rate 2
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526"ng-click="sortType = 'fish'; sortReverse = !sortReverse">
                        Rate 3
                      </a>
                    </td>

                  </tr>
                  </thead>

                  <tbody>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">2976</td>
                    <td> Rumah tinggal tidak di peruntukan untuk usaha dan tidak melebihi 3 tingkat</td>
                    <td>0,294</td>
                    <td>0,397</td>
                    <td>0,499</td>
                  </tr>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">29761</td>
                    <td>Rumah tinggal untuk usaha kost</td>
                    <td>0,478</td>
                    <td>0,645</td>
                    <td>0,812</td>
                  </tr>
                  </tbody>

                </table>

              </div>
            </div>

            <div class="container-table bg-white mt-3">
              <h4 style="color: #EF8526; margin-left: 10px">Kelas Konstruksi</h4>
              <div style="overflow-x:auto">
                <table class="table table-bordered table-striped">

                  <thead>
                  <tr>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Kelas
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Keterangan
                      </a>
                    </td>
                  </tr>
                  </thead>

                  <tbody>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">1</td>
                    <td>Bangunan dikatakan berkonstruksi kelas 1 (satu) apabila dinding, lantai, dan semua komponen penunjang strukturalnya serta penutup atap terbuat seluruhnya dan sepenuhnya dari bahan yang tidak mudah terbakar. Jendela dan/atau pintu beserta kerangkanya, dinding partisi, dan penutup lantai boleh diabaikan
                      Screen reader support enabled.
                    </td>
                  </tr>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">2</td>
                    <td>Bangunan dikatakan berkonstruksi kelas 2 (dua) adalah bangunan yang kriterianya sama seperti apa yang disebutkan dalam bangunan berkonstruksi kelas 1 (satu), dengan kelonggaran penutup atap boleh terbuat dari sirap kayu keras, dinding boleh mengandung bahan yang dapat terbakar sampai maksimum 20% (dua puluh persen) dari luas dinding, serta lantai dan struktur penunjangnya boleh terbuat dari kayu
                      Screen reader support enabled.
                    </td>
                  </tr>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">3</td>
                    <td>
                      Semua bangunan selain yang disebutkan pada kelas konstruksi 1 (satu) dan konstruksi 2 (dua)
                    </td>
                  </tr>
                  </tbody>

                </table>

              </div>
            </div>
            <br>
            <a style="background-color: #e67e22"  type="button" data-toggle="modal" data-target="#exampleModal" href="#" class="btn btn-dark mr-2">Beli Produk</a>
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="showContentF" style="margin-top: 40px" class="tab-content" data-aos="fade-up">
      <div class="tab-pane" id="kind-3">
        <div class="card">
          <div class="card-header">
            <h5>Asuransi Properti/ Harta Benda</h5>
          </div>
          <div class="card-body">
            <div class="container-table bg-white mt-3">
              <h4  style="color: #EF8526; margin-left: 10px">Daftar Okupasi</h4>
              <div style="overflow-x:auto">
                <table class="table table-bordered table-striped">

                  <thead>
                  <tr>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Kode
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Keterangan
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Rate 1
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
                        Rate 2
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526"ng-click="sortType = 'fish'; sortReverse = !sortReverse">
                        Rate 3
                      </a>
                    </td>

                  </tr>
                  </thead>

                  <tbody>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">2976</td>
                    <td> Rumah tinggal tidak di peruntukan untuk usaha dan tidak melebihi 3 tingkat</td>
                    <td>0,294</td>
                    <td>0,397</td>
                    <td>0,499</td>
                  </tr>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">29761</td>
                    <td>Rumah tinggal untuk usaha kost</td>
                    <td>0,478</td>
                    <td>0,645</td>
                    <td>0,812</td>
                  </tr>
                  </tbody>

                </table>

              </div>
            </div>

            <div class="container-table bg-white mt-3">
              <h4 style="color: #EF8526; margin-left: 10px">Kelas Konstruksi</h4>
              <div style="overflow-x:auto">
                <table class="table table-bordered table-striped">

                  <thead>
                  <tr>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Kelas
                      </a>
                    </td>
                    <td>
                      <a style="color: #EF8526" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Keterangan
                      </a>
                    </td>
                  </tr>
                  </thead>

                  <tbody>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">1</td>
                    <td>Bangunan dikatakan berkonstruksi kelas 1 (satu) apabila dinding, lantai, dan semua komponen penunjang strukturalnya serta penutup atap terbuat seluruhnya dan sepenuhnya dari bahan yang tidak mudah terbakar. Jendela dan/atau pintu beserta kerangkanya, dinding partisi, dan penutup lantai boleh diabaikan
                      Screen reader support enabled.
                    </td>
                  </tr>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">2</td>
                    <td>Bangunan dikatakan berkonstruksi kelas 2 (dua) adalah bangunan yang kriterianya sama seperti apa yang disebutkan dalam bangunan berkonstruksi kelas 1 (satu), dengan kelonggaran penutup atap boleh terbuat dari sirap kayu keras, dinding boleh mengandung bahan yang dapat terbakar sampai maksimum 20% (dua puluh persen) dari luas dinding, serta lantai dan struktur penunjangnya boleh terbuat dari kayu
                      Screen reader support enabled.
                    </td>
                  </tr>
                  <tr
                    ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
                    <td class="hidden-xs">3</td>
                    <td>
                      Semua bangunan selain yang disebutkan pada kelas konstruksi 1 (satu) dan konstruksi 2 (dua)
                    </td>
                  </tr>
                  </tbody>

                </table>

              </div>
            </div>

            <br>
            <a style="background-color: #e67e22"  type="button" data-toggle="modal" data-target="#exampleModal" href="#" class="btn btn-dark mr-2">Beli Produk</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Features Section -->

<!-- ======= Features Section ======= -->
<section id="theproduct" class="theproduct">
  <div style="margin-top: 40px" class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>ASKRINDO</h2>
      <p>Kalkulator Premi</p>
    </div>

    <form [formGroup]="parCalculatorForm" method="POST" (ngSubmit)="calculateInsurance(parCalculatorForm.value)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="occupation">Penggunaan Bangunan</label>
            <select id="occupation" name="occupation" class="custom-select" formControlName="occupation" placeholder="Penggunan Bangunan">
              <option *ngFor="let occupation of buildingCategoryLoad;let i = index" [ngValue]="occupation.id">
                {{occupation.id}} {{ occupation.name }}
              </option>
            </select>
            <small *ngIf="form('occupation').invalid && form('occupation').touched">
              <div *ngIf="form('occupation').errors?.required">
                *Kolom ini harus di isi
              </div>
            </small>
        </div>
        <div class="form-group col-md-6">
          <label for="construction">Kelas Konstruksi</label>
            <select id="construction" name="construction" class="custom-select" formControlName="construction" placeholder="Konstruksi">
              <option *ngFor="let construction of constructOccu;let i = index" [ngValue]="construction.class">
                {{ construction.class }}
              </option>
            </select>
            <small *ngIf="form('construction').invalid && form('construction').touched">
              <div *ngIf="form('construction').errors?.required">
                *Kolom ini harus di isi
              </div>
          </small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="coverageB">Nilai Pertanggungan Bangunan</label>
          <input type="number" name="coverageB" id="coverageB" class="form-control" formControlName="coverageB" placeholder="0">
          <small>
            <div class="form-text text-danger" *ngIf="form('coverageB').errors?.pattern">
              *Nilai Pertanggungan Harus Diisi dengan format Angka.
            </div>
          </small>
        </div>
        <div class="form-group col-md-4">
          <label for="coverageM">Nilai Pertanggungan Mesin</label>
          <input type="number" name="coverageM" id="coverageM" class="form-control" formControlName="coverageM" placeholder="0">
          <small>
            <div class="form-text text-danger" *ngIf="form('coverageM').errors?.pattern">
              *Nilai Pertanggungan Harus Diisi dengan format Angka.
            </div>
          </small>
        </div>
        <div class="form-group col-md-4">
          <label for="coverageP">Nilai Pertanggungan Perabotan</label>
          <input type="number" name="coverageP" id="coverageP" class="form-control" formControlName="coverageP" placeholder="0">
          <small>
            <div class="form-text text-danger" *ngIf="form('coverageP').errors?.pattern">
              *Nilai Pertanggungan Harus Diisi dengan format Angka.
            </div>
          </small>
        </div>
      </div>
      <button [disabled]="parCalculatorForm.invalid" type="submit" name="submit" id="submit" class="btn btn-block" style="background-color:  #e67e22;" value="submit"><b>Hitung</b></button>
    </form>
    <div [hidden]="showResult">
      <h3 class="text-center default-text py-3"><i></i> Rincian Biaya Asuransi</h3>
      <div class="container" style="margin-left: 400px;">
        <tr style="justify-content: center; align-items: center; align-content: center; align-self: center;">
          <td>
            <p> Premi</p>
            <p> Biaya Admin</p>
            <p> Total</p>
          </td>
          <td>
            <p> : {{ totalPremi | commonCurrencyRp }}</p>
            <p> : {{ adminFee | commonCurrencyRp}}</p>
            <p> : {{ total | commonCurrencyRp}}</p>
          </td>
        </tr>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div style="padding: 50px" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="container" style="align-content: center; align-items: center">
    <div class="modal-dialog">
      <div class="modal-content">
        <button style="position:absolute; top:6px; right:0px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div  style="align-content: center; padding: 100px" class="modal-header" style="align-content: center; margin-left: 40px">
          <div style="height: 40%; width: 40%; ">
            <img style="margin-left: 100px" src="./assets/img/homepage/logo%20mask.png" class="img-fluid" alt="Responsive image">
          </div>

        </div>
        <div class="modal-body" style="align-content: center; align-items: center;">
          <p style="margin-left: 80px"> Beli produk asuransi melalui aplikasi M-ASK </p>
          <p style="margin-left: 40px">
            <a href="https://play.google.com/store/apps/details?id=pa.askrindo.android">
              <img border="0" alt="W3Schools" src="assets/img/homepage/googleplay.png" width="200" height="100">
            </a>
            <a href="https://apps.apple.com/id/app/digiask-personal-accident/id1475720967">
              <img border="0" alt="W3Schools" src="assets/img/homepage/appstore.png" width="200" height="100">
            </a>
          </p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


